#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px
}

#app, .button {
    text-align: center
}

.button {
    background-color: #8b0000;
    border: none;
    color: #fff;
    font-family: Segoe UI, Tahoma;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

.button3 {
    border-radius: 8px
}

body {
    font-family: Lato, sans-serif;
    font-family: Segoe UI, Tahoma;
    font-size: 14px
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px
}

.dropdown-btn, .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    margin-left: -30px;
    cursor: pointer;
    outline: none
}

.dropdown-btn:hover, .sidenav a:hover {
    color: #f1f1f1
}

.main {
    text-align: right;
    margin-right: 200px;
    font-size: 20px;
    padding: 0 10px
}

.active {
    background-color: green;
    color: #fff
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px
}

.fa-caret-down {
    float: right;
    padding-right: 8px
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px
    }

    .sidenav a {
        font-size: 18px
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-left: -30px;
    border-right: 200px solid #ddd;
    border-top: 0 solid #ddd;
    background-color: #789
}

td, th {
    text-align: left;
    padding: 6px
}

tr:nth-child(2n) {
    background-color: grey
}

p {
    cursor: pointer
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc
}

.slider, .slider:before {
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff
}

input:checked + .slider {
    background-color: #2196f3
}

input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196f3;
    box-shadow: 0 0 1px #2196f3
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    transform: translateX(16px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

#auth-container[data-v-009ad9b6] {
    margin-top: 50px
}

li[data-v-009ad9b6] {
    cursor: pointer
}

.tab-content[data-v-009ad9b6] {
    padding-top: 20px
}
